/**
* @file
* 04-illustration/_glacier.scss
*/
.glacier {
  position: relative;
  min-height: 25vw;
  padding: $double-spacing 0;
  background-color: $snow-gray;

  @media (max-width: $small) {
    width: 300vw;
    min-height: 75vw;
  }
}

.glacier-layer {
  position: absolute;
  top: $double-spacing;
  width: 100%;

  &.first {
    top: 5.95vw;
    left: 0.39vw;

    @media (max-width: $small) {
      top: 19vw;
    }
  }

  &.second {
    top: 1.65vw;
    left: 0.17vw;

    @media (max-width: $small) {
      top: 6vw;
    }
  }
}
