/**
* @file
* 04-illustration/_mountain.scss
*/
$mountain-ratio: 0.4179;

#mountain {
  svg {
    display: block;
    width: 200%;
    margin-left: 50%;
    transform: translatex(-50%);

    @media (min-width: $small) {
      width: 100%;
    }
  }
}
