/**
* @file
* 04-illustration/_trees.scss
*/
.tree-container {
  position: relative;
  width: 100vw;
  min-height: 36.45vw;

  &.top {
    background-color: $grass-dark-green;
  }

  &.bottom {
    background-color: $tree-dark-green;
  }
}

.trees {
  position: absolute;

  &.background {
    position: absolute;
    top: 4vw;
    left: 19vw;
    width: 70%;
    transform: scalex(-1);
  }

  &.midground {
    position: relative;
    top: 0;
    width: 100%;

    .fires {
      position: relative;
      top: -1vw;
    }

    .fire img {
      transform: scale(90%);
    }
  }

  &.foreground {
    top: 3vw;
    left: -1vw;
    width: 105%;
  }
}

.trees--detailed {
  position: absolute;
  top: 5vw;
}

.trees--dark,
.trees--light,
.trees--burnt {
  width: 100%;
  position: absolute;
  top: 0;
}

.fire {
  position: absolute;
  opacity: 0.9;
  max-width: 20vw;
}

.fire img {
  width: 100%;
}

.fire:nth-of-type(1) {
  left: 50%;
  bottom: 0;
}

.fire:nth-of-type(2) {
  left: 40%;
  bottom: 1vw;
}

.fire:nth-of-type(3) {
  left: 29%;
  bottom: 2vw;
  img {
    transform: scale(115%) scalex(-1);
  }
}

.fire:nth-of-type(4) {
  left: 20%;
  bottom: 1vw;
  img {
    transform: scale(90%) scalex(-1);
  }
}

.fire:nth-of-type(5) {
  left: 22%;
  bottom: 8vw;
}

.fire:nth-of-type(6) {
  left: 10%;
  bottom: 1vw;
  img {
    transform: scale(130%) scalex(-1);
  }
}

.fire:nth-of-type(7) {
  left: 9%;
  bottom: 11vw;
  img {
    transform: scale(110%);
  }
}

.fire:nth-of-type(8) {
  left: 14%;
  bottom: 16vw;
  img {
    transform: scale(110%) scalex(-1);
  }
}

.fire:nth-of-type(9) {
  left: 8%;
  bottom: 20vw;
}

.fire:nth-of-type(10) {
  left: -4%;
  bottom: 22vw;
  img {
    transform: scale(110%) scalex(-1);
  }
}

.fire:nth-of-type(11) {
  left: -4%;
  bottom: 12vw;
  img {
    transform: scale(130%);
  }
}

.fire:nth-of-type(12) {
  left: -4%;
  bottom: 2vw;
  img {
    transform: scale(140%) scalex(-1);
  }
}

.fire:nth-of-type(13) {
  left: 85%;
  bottom: 17vw;
  img {
    transform: scalex(-1);
  }
}


.fire:nth-of-type(14) {
  left: 58%;
  bottom: 8vw;
}

.fire:nth-of-type(15) {
  left: 60%;
  bottom: 2vw;
  img {
    transform: scale(140%) scalex(-1);
  }
}

.fire:nth-of-type(16) {
  left: 67%;
  bottom: 13vw;
  img {
    transform: scale(105%);
  }
}

.fire:nth-of-type(17) {
  left: 72%;
  bottom: 5vw;
  img {
    transform: scale(112%);
  }
}

.fire:nth-of-type(18) {
  left: 78%;
  bottom: 1vw;
  img {
    transform: scalex(-1);
  }
}

.fire:nth-of-type(19) {
  left: 78%;
  bottom: 0.5vw;
  img {
    transform: scalex(-1);
  }
}

.fire:nth-of-type(20) {
  left: 78%;
  bottom: 1vw;
  img {
    transform: scalex(-1);
  }
}

.fire:nth-of-type(21) {
  left: 80%;
  bottom: 8vw;
  img {
    transform: scale(90%);
  }
}

.fire:nth-of-type(22) {
  left: 75%;
  bottom: 15vw;
  img {
    transform: scale(110%);
  }
}
