/**
* @file
* 03-organisms/_article.scss
*/

.article {
  position: relative;
  z-index: 2;
}

.article-01 {
  h2 {
    color: mix($sky-blue, $white, 10%);
    text-shadow: -2px -2px 0 transparentize($darkest-blue, 0.1);
  }

  .body {
    background-color: mix($sky-blue, $white, 50%);
  }

  .bio {
    margin-top: $standard-spacing * 6;
    margin-bottom: $double-spacing * 2;
    padding: $double-spacing;
    color: $white;
    background-color: mix($sky-blue, $dark-blue, 24%);
    font-size: $p-font-size--smaller;

    h3 {
      margin-top: 0;
      color: $white;
    }
  }

  blockquote {
    margin-top: $double-spacing;
    margin-bottom: $double-spacing;
    padding: $double-spacing;
    color: $white;
    background-color: $dark-blue;
    box-shadow: $shadow;
    font-weight: 300;


    &:nth-of-type(odd) {
      margin-left: -($standard-spacing * 3) + $half-spacing;
      border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-left: -10%;
      }
    }

    &:nth-of-type(even) {
      margin-right: -($standard-spacing * 3) + $half-spacing;
      border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-right: -10%;
      }
    }

    &:last-of-type {
      margin-bottom: -($standard-spacing *6);
    }

    @media (min-width: $medium) {
      margin-top: $double-spacing * 2;
      margin-bottom: $double-spacing * 2;
    }
  }
}

.article-02 {
  background-color: $snow-gray;

  .h2 {
    display: block;
    width: 700px;
    margin: auto;
    margin-bottom: -6vw;
    transform: translatey(-6vw);

    @media (max-width: $max-content-width) {
      width: 80%;
    }
  }

  .tagline {
    margin-top: $double-spacing;
    margin-bottom: -$double-spacing;
    text-transform: none;
    color: $dark-blue;
    font-family: $sans-serif;
    font-size: $h3-font-size--larger;
    font-weight: $font-weight--bold;
    line-height: 1em;

    .title-decorative-word {
      word-spacing: initial;
    }

    @media (max-width: $medium) {
      font-size: $h4-font-size--smaller;
    }
  }

  .nino-arrow {
    display: inline-block;
    color: $blue;

    &.material-icons {
      transform-origin: left top;
      font-size: 4em;
    }

    &.first {
      transform: translate(1em, 2.21em) rotate(220deg);
    }

    &.second {
      transform: translate(0.05em, 2.2em) scaleX(-1) rotate(220deg);
    }

    &.second.material-icons {
      font-size: 3.5em;
    }
  }

  .nino {
    display: inline-block;
    margin-top: $standard-spacing;
    margin-bottom: $double-spacing;
    margin-left: 51%;
    padding: $standard-spacing;
    transform: translatex(-50%) rotate(-5deg);
    border-radius: 5px;
    background-color: transparentize($light-green, 0.3);
    font-family: montserrat;
    font-size: 1.2em !important;

    &.second {
      transform: translatex(-50%) rotate(4deg);
    }
  }

  blockquote {
    padding: $double-spacing;
    background-color: transparentize($white, 0.5);
    font-weight: $font-weight--light;
  }
}

.article-03 {
  h2 {
    max-width: none;
  }

  .body {
    padding: $double-spacing;
    background-color: transparentize($white, 0.2);
  }

  blockquote {
    background-color: transparentize($rock-gray, 0.2);
    color: $white;
    font-weight: $font-weight--light;
    padding: $standard-spacing;
    border-radius: $border-radius--square;
    width: 100vw;
    margin-left: -$standard-spacing * 3;
    z-index: 0;

    &:nth-of-type(odd) {
      transform: rotate(-15deg);
    }

    &:nth-of-type(even) {
      transform: rotate(15deg);
    }

    @media (min-width: $medium) {
      width: calc(100% + #{$standard-spacing * 8});
      margin-left: -($standard-spacing * 4);
    }
  }

  .photo {
    position: relative;
    z-index: 1;
    margin-bottom: $double-spacing;

    .photo-caption {
      background-color: $white;
      margin-top: $standard-spacing;
    }
  }
}

.article-04 {
  background-color: $grass-dark-green;

  h2 {
    color: $white;
    text-shadow: none;
  }

  p {
    color: $white;
  }
}

article {
  max-width: $max-content-width;
  margin-right: $standard-spacing;
  margin-left: $standard-spacing;
  padding-bottom: $double-spacing;

  @media (min-width: $medium) {
    margin-right: auto;
    margin-left: auto;
  }

  h2,
  h3 {
    text-align: center;
  }
}

.body {
  padding: $double-spacing;
}

.interview {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.speaker {
  position: absolute;
  top: 0;
  right: 0;
  transform: translatey(-100%);
  color: $white;
  text-shadow: 1px 1px 2px $darkest-blue;
  font-size: $p-font-size--smaller;
  font-weight: $font-weight--regular;
}

.interviewer,
.interviewee {
  position: relative;
  width: 80%;
  margin-top: 1em;
  padding: $double-spacing;
}

.interviewer {
  align-self: end;
  text-align: right;
  color: white;
  border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;
  background: transparentize($darkest-blue, 0.2);
}

.interviewee {
  border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;
  background: transparentize($white, 0.2);

  .speaker {
    left: 0;
  }
}
