/**
* @file
* 03-organisms/_header.scss
*/

header {
  z-index: 0;
  min-height: 100vh;
  padding: $standard-spacing;
  color: $white;
  background: transparentize($black, 0.1);

  .heading-text {
    max-width: $max-content-width;
    margin: auto;
  }

  .logo {
    @media (min-width: $large) {
      left: calc(50% - #{$logo-width--larger / 2});
    }
    position: absolute;
    bottom: 0;
    left: calc(50% - #{$logo-width / 2});
    max-width: 50vw;
    max-height: 50vw;
  }
}
