/**
* @file
* 03-organisms/articles/_article-09.scss
*/
.article-09 {
  color: white;
  background-color: $ocean-dark-blue;
  background-image: linear-gradient($ocean-dark-blue, $ocean-darkest-blue);

  .title-wrapper {
    transform: translatey(-24vw);

    @media(min-width: $medium) {
      transform: translatey(-280px);
    }
  }

  .article-title {
    padding: 0;
  }

  .tagline {
    margin-bottom: 12vw;

    @media(min-width: $medium) {
      margin-bottom: -120px;
    }
  }
}
