/**
* @file
* 01-atoms/_article.scss
*/
.article {
  position: relative;
  z-index: 2;
}

.article-01 {
  .intro {
    background-color: $sky-blue;
  }

  .bio {
    margin-top: $double-spacing;
    padding: $double-spacing;
    color: $white;
    border-radius: $border-radius--round-square;
    background-color: mix($sky-blue, $dark-blue, 30%);
    font-size: $p-font-size--smaller;

    h3 {
      margin-top: 0;
      color: $white;
    }
  }
}

.article-02 {
  padding-top: $double-spacing;
  background-color: $snow-gray;

  h2 {
    max-width: none;
  }

  p {
    font-size: $p-font-size--smaller;
  }

  article {
    max-width: none;

    @media (min-width: $small) {
      padding: $double-spacing;
      column-count: 3;
    }
  }
}

.article-03 {
  background-color: $snow-gray;
  
  h2 {
    max-width: none;
  }
}

.article-04 {
  background-color: $grass-dark-green;

  h2 {
    color: $white;
    text-shadow: none;
  }

  p {
    color: $white;
  }
}

article {
  max-width: $max-content-width;
  margin-right: $standard-spacing;
  margin-left: $standard-spacing;
  padding-bottom: $double-spacing;

  @media (min-width: $medium) {
    margin-right: auto;
    margin-left: auto;
  }

  h2,
  h3 {
    text-align: center;
  }
}

.intro {
  padding: $double-spacing;

  .circle-photo {
    margin: 0 auto $double-spacing;

    @media (min-width: 581px) {
      float: left;
      margin-top: $double-spacing;
      margin-right: $double-spacing;

      shape-outside: circle();
    }
  }
}

.interview {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.speaker {
  position: absolute;
  top: 0;
  right: 0;
  transform: translatey(-100%);
  color: $white;
  font-size: $p-font-size;
  font-weight: $font-weight--regular;
}

.interviewer,
.interviewee {
  position: relative;
  width: 80%;
  margin-top: 1em;
  padding: 24px;
}

.interviewer {
  align-self: end;
  text-align: right;
  color: white;
  border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;
  background: transparentize($darkest-blue, 0.2);
}

.interviewee {
  border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;
  background: transparentize($white, 0.2);

  .speaker {
    left: 0;
  }
}
