/**
* @file
* 01-atoms/_article.scss
*/
.article {
  position: relative;
  z-index: 2;
}

.article-01 {
  h2 {
    color: mix($sky-blue, $white, 10%);
    text-shadow: -2px -2px 0px transparentize($darkest-blue, 0.1);
  }

  .body {
    background-color: mix($sky-blue, $white, 50%);
  }

  .bio {
    margin-top: $standard-spacing * 6;
    margin-bottom: $double-spacing * 2;
    padding: $double-spacing;
    color: $white;
    background-color: mix($sky-blue, $dark-blue, 24%);
    font-size: $p-font-size--smaller;

    h3 {
      margin-top: 0;
      color: $white;
    }
  }

  blockquote {
    margin-top: $double-spacing;
    margin-bottom: $double-spacing;
    padding: $double-spacing;
    color: $white;
    background-color: $dark-blue;
    box-shadow: $shadow;
    font-weight: 300;


    &:nth-of-type(odd) {
      margin-left: -($standard-spacing * 3) + $half-spacing;
      border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-left: -10%;
      }
    }

    &:nth-of-type(even) {
      margin-right: -($standard-spacing * 3) + $half-spacing;
      border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-right: -10%;
      }
    }

    &:last-of-type {
      margin-bottom: -($standard-spacing *6);
    }

    @media (min-width: $medium) {
      margin-top: $double-spacing * 2;
      margin-bottom: $double-spacing * 2;
    }
  }
}

.article-02 {
  padding-top: $double-spacing;
  background-color: $snow-gray;

  h2 {
    max-width: none;
  }

  p {
    font-size: $p-font-size--smaller;
  }

  article {
    max-width: none;

    @media (min-width: $small) {
      padding: $double-spacing;
      column-count: 3;
    }
  }
}

.article-03 {
  background-color: $snow-gray;

  h2 {
    max-width: none;
  }
}

.article-04 {
  background-color: $grass-dark-green;

  h2 {
    color: $white;
    text-shadow: none;
  }

  p {
    color: $white;
  }
}

article {
  max-width: $max-content-width;
  margin-right: $standard-spacing;
  margin-left: $standard-spacing;
  padding-bottom: $double-spacing;

  @media (min-width: $medium) {
    margin-right: auto;
    margin-left: auto;
  }

  h2,
  h3 {
    text-align: center;
  }
}

.body {
  padding: $double-spacing;
}

.interview {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.speaker {
  position: absolute;
  top: 0;
  right: 0;
  transform: translatey(-100%);
  color: $white;
  text-shadow: 1px 1px 2px $darkest-blue;
  font-size: $p-font-size--smaller;
  font-weight: $font-weight--regular;
}

.interviewer,
.interviewee {
  position: relative;
  width: 80%;
  margin-top: 1em;
  padding: $double-spacing;
}

.interviewer {
  align-self: end;
  text-align: right;
  color: white;
  border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;
  background: transparentize($darkest-blue, 0.2);
}

.interviewee {
  border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;
  background: transparentize($white, 0.2);

  .speaker {
    left: 0;
  }
}
