/**
* @file
* 01-atoms/call-out/_call-out.scss
*/
.call-out-box {
  margin-bottom: $double-spacing * 2;

  p {
    font-weight: $font-weight--regular;
  }

  &.cse {
    padding: $standard-spacing;
    background-color: mix($blue, $snow-gray, 50%);
    border-radius: $border-radius--square;
  }
}
